body {
  background-color: #f98611;
}
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.header {
  margin-top: 50px;
  margin-bottom: -90px;
  font-family: Arial, sans-serif;
  font-size: 24px;
}
.piechart {
  margin: 0 auto;
  position: relative;
  height: 300px;
  width: 300px;
  top: 100px;
}
.common {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.border {
  border: 1px solid #000;
  top: -1px;
  left: -1px;
  width: 301px;
  height: 301px;
}
.base {
  background: #000 url(uncut_pizza.png) no-repeat 0 0;
}
.slice {
  clip: rect(0px, 150px, 300px, 0);
  border-color: #ff0000;
  border-style: solid;
  border-width: 0 1px 0 0;
}
.slice_1_c {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slice_1_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(226deg);
  -moz-transform: rotate(226deg);
  -o-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  transform: rotate(226deg);
}
.slice_2_c {
  -webkit-transform: rotate(226deg);
  -moz-transform: rotate(226deg);
  -o-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  transform: rotate(226deg);
}
.slice_2_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(224deg);
  -moz-transform: rotate(224deg);
  -o-transform: rotate(224deg);
  -ms-transform: rotate(224deg);
  transform: rotate(224deg);
}
.slice_3_c {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.slice_3_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(224deg);
  -moz-transform: rotate(224deg);
  -o-transform: rotate(224deg);
  -ms-transform: rotate(224deg);
  transform: rotate(224deg);
}
.slice_4_c {
  -webkit-transform: rotate(314deg);
  -moz-transform: rotate(314deg);
  -o-transform: rotate(314deg);
  -ms-transform: rotate(314deg);
  transform: rotate(314deg);
}
.slice_4_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(226deg);
  -moz-transform: rotate(226deg);
  -o-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  transform: rotate(226deg);
}
.slice_5_c {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.slice_5_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(226deg);
  -moz-transform: rotate(226deg);
  -o-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  transform: rotate(226deg);
}
.slice_6_c {
  -webkit-transform: rotate(-314deg);
  -moz-transform: rotate(-314deg);
  -o-transform: rotate(-314deg);
  -ms-transform: rotate(-314deg);
  transform: rotate(-314deg);
}
.slice_6_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(224deg);
  -moz-transform: rotate(224deg);
  -o-transform: rotate(224deg);
  -ms-transform: rotate(224deg);
  transform: rotate(224deg);
}
.slice_7_c {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}
.slice_7_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(224deg);
  -moz-transform: rotate(224deg);
  -o-transform: rotate(224deg);
  -ms-transform: rotate(224deg);
  transform: rotate(224deg);
}
.slice_8_c {
  -webkit-transform: rotate(-226deg);
  -moz-transform: rotate(-226deg);
  -o-transform: rotate(-226deg);
  -ms-transform: rotate(-226deg);
  transform: rotate(-226deg);
}
.slice_8_w {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transform: rotate(226deg);
  -moz-transform: rotate(226deg);
  -o-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  transform: rotate(226deg);
}
#eaten {
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding-top: 20px;
}
